
.app{
  color:white;
  /* font-weight: bolder; */
}
#video{
  position: fixed;
  z-index: -1;
  width:100%;
  height:100%;
  left:50%;
  top:50%;
  object-fit: cover;
  transform: translate(-50%,-50%);
  /* top:0; */
  bottom:0;
  
}

form {
  margin-top: 3rem;
}

form input[name="city"]{
  background-color:transparent;
  color:white;
  border: none;
  outline:none;
  outline-width: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
  box-shadow: none;
}
form input[name="city"]:focus{
  background-color:transparent;
  color:white;
  border: none;
  outline:none;
  box-shadow: none;

  outline-width: 0;

  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
.main-data{
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
.set-border{
  border: none;
  /* border-top: 2px solid whitesmoke; */
  border-bottom: 3px solid whitesmoke; 

}
p{
  font-size: 18px;
  /* padding-left: 30px; */
  font-weight: bolder;
}
.no-data {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}